.top-menu {
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  width: calc(100vw - 37px);
  div {
    display: inline-block;
    margin: 0 10px;
  }
}
#root{
  min-height: 100vh;
  .content{
    padding: 50px 0px 0px 0px;
  }
}
button[type="button"] {
  min-width: 90px;
  width:20vw;
  margin: 1vh 5vw ;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 20px;
  display: inline-block;
}

button[type="button"]:hover {
  background-color: #eee;
}
